@charset "euc-kr";

/*
    파일 개요
    ---------------------------------------------------------------------
    @ 목적 : [가천대 길병원 플랫폼] 헬퍼 클래스 정의
    @ 작성 : GRIDA Publishing Team.
    @ 최종 : 2023.05.14.00:00
    @ 메모 : '헬퍼'는 자잘한 스타일을 클래스로 미리 만들어놓은 것이다. 
*/

.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}

.w100p {width: 100% !important}
.w60 {width: 60px !important}
.w70 {width: 70px !important}
.w80 {width: 80px !important}
.w90 {width: 90px !important}
.w100 {width: 100px !important}
.w120 {width: 120px !important}
.w130 {width: 130px !important}
.w150 {width: 150px !important}
.w165 {width: 165px !important}
.w175 {width: 175px !important}
.w220 {width: 220px !important}
.w300 {width: 300px !important}
.w310 {width: 310px !important}
.w320 {width: 320px !important}
.w350 {width: 350px !important}
.w500 {width: 500px !important}
.w620 {width: 620px !important}

.h100p {height: 100% !important;}

.ta-left {text-align: left !important}
.ta-center {text-align: center !important}
.ta-right {text-align: right !important}

.pl24{padding-left: 24px;}

.mb10 {margin-bottom: 10px !important;}
.mb16 {margin-bottom: 16px !important;}

.mt8 {margin-top: 8px !important;}
.mt12 {margin-top: 12px !important;}

.mr8 {margin-right: 8px !important;}
.mr10 {margin-right: 10px !important;}
.mr12 {margin-right: 12px !important;}
.mr16 {margin-right: 16px !important;}

.ml8 {margin-left: 8px !important;}
.ml10 {margin-left: 10px !important;}
.ml16 {margin-left: 16px !important;}
.ml20 {margin-left: 20px !important;}
.ml24 {margin-left: 24px !important;}

.hide {display: none !important;}

.ellipsis{display: inline-block;width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

.d-block {display: block !important;}
.d-inblock {display: inline-block !important;}