@charset "UTF-8";
/*
 파일 개요
 ---------------------------------------------------------------------
 @ 목적 : [가천대 길병원 플랫폼] 공통 레이아웃 정의
@ 작성 : GRIDA Publishing Team.
@ 최종 : 2023.05.14.00:00
 @ 메모 : 앞에서 _component, _layout으로 커버되지 않는 각 페이지마다 유니크한 부분은 이곳에서 따로 정의한다.
*/

/* 로그인 */
.plf-root.login{height: 959px;background: var(--color1) url(../img/bg_login_left.png) repeat-x left bottom;}
.plf-root.login .plf-con{width: 1600px; height: 959px;margin:0 auto; background: url(../img/bg_login.jpg) no-repeat left bottom;position: relative;}
.plf-root.login .plf-header{top: 40px;height: initial;border-bottom: none;background: transparent;}
.plf-root footer{display: flex;align-items:  flex-end;padding:0 32px;box-sizing: border-box; position: absolute;bottom:48px;width: 100%;text-align: center;color: #1E1E1E;font-size: 14px;font-weight: 400;}
.plf-root footer .logo-webcash{margin-right: 32px;width: 164px;height: 32px; background: url(../img/logo/webcash.svg) no-repeat center;opacity: 0.7;}
.plf-root footer p{color: rgba(30, 30, 30, 0.7);}
.plf-root footer .tel-num{margin-left: auto; text-align: right;opacity: 0.8;}
.plf-root footer .tel-num em{display: block; font-size: 14px;font-weight: 600;color: #1E1E1E;margin-bottom: 8px;}
.plf-root footer .tel-num strong{display: block;font-size: 26px;color: #1E1E1E}

.plf-login {position: absolute;left:55.5%;top:50%; width: 560px; margin: -225px 0 0 0; border:1px solid #F0F0F0;border-radius: 30px;padding:100px 60px;box-sizing: border-box;} 
.plf-login .tit{font-size: 60px;color: #666;margin-bottom: 16px;}

.login-form { display: flex; column-gap: 16px; } 
.login-form .login-form-left { flex-grow: 0; flex-shrink: 0; flex-basis: 0; } 
.login-form .login-form-left .ip-txt { height: 46px; border: 1px solid #E3E3E3;border-radius: 4px; font-size: 18px;color: #333;font-weight: 400; padding: 19px 12px; } 
.login-form .login-form-left .ip-txt:first-of-type { margin-bottom: 8px; } 
.login-form .ip-ch-label{font-size: 14px;}
.login-form .btn-login { display: block; font-size: 20px; color: #fff; font-weight: 600; background:  var(--color1); width: 124px; height: 100px; line-height: 100px; border-radius: 12px; text-decoration: none; text-align: center; } 

.plf-login .ip-ch-label{margin-top: 8px;font-size: 14px;}
.plf-login .login-btn{margin-top: 24px;}
.plf-login .login-btn a{display: inline-block;padding-right:6px;color: #666;font-size: 14px;}
.plf-login .login-btn a:after{content:'';display: inline-block;width: 1px;height: 10px;background-color: #D9D9D9;margin-left: 8px;}
.plf-login .login-btn a:last-child:after{display: none;}

/* 회원가입 */
.plf-join{ width: 1330px;margin:0 auto; }
.plf-join .tit-pagetitle{margin:40px 0 20px; }
.plf-join .tit-subtitle{margin:40px 0 20px; }
.plf-join .agree-con{ background-color: #fff;padding:20px;border:1px solid #F0F0F0; border-top: 1px solid #1e1e1e; margin-bottom: 32px;}
.plf-join .agree-con .agree-tit{font-size: 18px;font-weight: 600;color: #1E1E1E;margin-bottom: 12px;}
.plf-join .agree-con .agree-detail { overflow-y: auto; border: 1px solid #EFEFEF;border-radius: 4px; padding: 20px; height: 190px; box-sizing: border-box; font-size: 14px; font-weight: 400; color: #929292; line-height: 1.5; margin-bottom: 14px; } 
.plf-join .agree-con .ip-ch-group + .agree-tit{margin-top: 32px;}
.plf-join .join-con{ margin-bottom: 32px;}
.plf-join .join-complete-con{ display: flex;flex-direction: column;align-items: center;justify-content: center;border: 1px solid #F0F0F0; background-color: #fff;border-top: 1px solid #1e1e1e;min-height: 543px;}
.plf-join .join-complete-con p{font-size: 26px;font-weight: 500;color: #1E1E1E;margin-bottom: 32px;}
.plf-join .join-complete-con .info-box{font-size: 18px;font-weight: 500;margin-bottom: 32px;background: #f7f7f7;border-radius: 30px;padding:32px;text-align: center;width: 308px;line-height: 1.5;}
.plf-join .join-complete-con .info-box span{display: block;color: #1E1E1E;}

/* 메인 */
.progress-status{display: flex;gap:27px;margin-bottom: 32px;}
.progress-status .item .tit-status{font-size: 20px;font-weight: 600;color: #1E1E1E;margin-bottom: 8px; }
.progress-status .item .status-box{display: flex; padding:0 12px;border-radius: 12px;height: 116px;}
.progress-status .item .status-box button{width: 115.4px;}
.progress-status .item .status-box button strong{display: block; font-size: 50px;font-weight: 600;color: #fff;}
.progress-status .item .status-box button i{display: flex;justify-content: center;align-items: center;height: 38px; font-size: 16px;font-weight: 500;color: #fff;position: relative;}
.progress-status .item .status-box button:nth-child(n + 2)  i:before{content: '';display: block;width: 1px;height: 12px;background: #fff;opacity: 0.5; position: absolute;left:-6px;top:50%;margin-top:-6px;}

.progress-status .item:nth-child(1) .status-box{background: linear-gradient(95deg, var(--main-color1) 19.7%, var(--main-color2) 87.8%);}
.progress-status .item:nth-child(2) .status-box{background: linear-gradient(113deg, var(--main-color3) 35.2%, var(--main-color4) 100%);}
.progress-status .item:nth-child(3) .status-box{background: linear-gradient(113deg, var(--main-color5) 18.43%, var(--main-color6) 89.13%);}
.progress-status .item:nth-child(4) .status-box{background: linear-gradient(113deg, var(--main-color7) 17.29%, var(--main-color8) 85.09%);}

.progress-status.type2 .item:nth-child(1) .status-box{background: linear-gradient(95deg, var(--main-color3) 19.7%, var(--main-color4) 87.8%);}
.progress-status.type2 .item:nth-child(2) .status-box{background: linear-gradient(113deg, var(--main-color5) 18.43%, var(--main-color6) 89.13%);}
.progress-status.type3 .item:nth-child(1) .status-box{background: linear-gradient(113deg, var(--main-color7) 18.43%, var(--main-color8) 89.13%);}

.work-status{display: flex;gap: 26px;}
.work-status .srl-table{flex: 1;}
.work-status .srl-table .srl-table-head{display: table;width: 100%;}
.work-status .srl-table .srl-table-head span{display: table-cell;text-align: center;border-bottom: 1px solid #EFEFEF;background: #F7f7f7;color: var(--main-color1);padding: 14px 0;font-size: 16px;font-weight: 600;}
.work-status .srl-table .srl-table-head span:nth-child(1){width: 160px;}
.work-status .srl-table .srl-table-head span:nth-child(2){width: auto;}
.work-status .srl-table .srl-table-head span:nth-child(3){width: 120px;}
.work-status .srl-table .srl-table-head span:nth-child(4){width: 120px;}
.work-status .srl-table .srl-table-head span:nth-child(5){width: 120px;}
.work-status .srl-table .srl-table-head[data-code="step1"]{border-top: 1px solid var(--main-color1);}
.work-status .srl-table .srl-table-head[data-code="step1"] span{color: var(--main-color1);}
.work-status .srl-table .srl-table-head[data-code="step2"]{border-top: 1px solid var(--main-color3);}
.work-status .srl-table .srl-table-head[data-code="step2"] span{color: var(--main-color3);}
.work-status .srl-table .srl-table-head[data-code="step3"]{border-top: 1px solid var(--main-color5);}
.work-status .srl-table .srl-table-head[data-code="step3"] span{color: var(--main-color5);}
.work-status .srl-table .srl-table-head[data-code="step4"]{border-top: 1px solid var(--main-color7);}
.work-status .srl-table .srl-table-head[data-code="step4"] span{color: var(--main-color7);}

.work-status .srl-table .data-table{border-top:none}
.work-status .srl-table .data-table thead{display: none;}
.work-status .srl-table .scr_cont{height: 225px;overflow: hidden;}
.work-status .srl-table .scr_cont .scr_list{height:100%;}

.calendar-wrap{border:1px solid #F0F0F0;border-radius: 8px;background: #fff;width: 253px;padding:12px 12px 11px;box-sizing: border-box;overflow: hidden;}
.calendar-wrap .cal-dot{margin-top: 8px;padding-left: 3px;}
.calendar-wrap .cal-dot span{font-size: 13px;font-weight: 500;line-height: 18px; color: #666;margin-right: 10px;}
.calendar-wrap .cal-dot span::before{content: '';display: inline-block;width: 6px;height: 6px;border-radius: 100%;background-color: #0C77FA;vertical-align: middle;margin-right: 4px;}
.calendar-wrap .cal-dot span:last-child:before{background-color: #EA3333;}

.datepicker1 .ui-widget.ui-widget-content{border: none;width: 224px;padding:0;box-sizing: border-box;}
.datepicker1 .ui-datepicker .ui-datepicker-header{padding:0;border:none;background: #fff;margin-bottom: 12px;}
.datepicker1 .ui-datepicker .ui-datepicker-title{font-size: 16px;line-height: 16px;color: #1E1E1E;}
.datepicker1 .ui-datepicker .ui-datepicker-title span{vertical-align: middle;font-size: 16px;line-height: 16px;color: #1E1E1E;}
.datepicker1 .ui-widget-header .ui-icon {border:1px solid #BCBCBC; background: url(../img/icon/ic_pagi.svg) no-repeat center / 4px auto;box-sizing: border-box;}
.datepicker1 .ui-datepicker .ui-datepicker-prev{left:46px;}
.datepicker1 .ui-datepicker .ui-datepicker-next{right:46px;}
.datepicker1 .ui-datepicker .ui-datepicker-prev, .datepicker1 .ui-datepicker .ui-datepicker-next{top:0px;width: 16px;height: 16px;}
.datepicker1 .ui-datepicker .ui-datepicker-prev:hover, .datepicker1 .ui-datepicker .ui-datepicker-next:hover{border:none;background: none;}
.datepicker1 .ui-widget-header .ui-icon.ui-icon-circle-triangle-e {transform: rotate(-180deg);}
.datepicker1 .ui-datepicker table{border:1px solid #F0F0F0;margin:0;height:193px;}
.datepicker1 .ui-datepicker th{padding:0;background: #F7F7F7;width: 32px;height: 32px;}
.datepicker1 .ui-datepicker th span{color: #1E1E1E;}
.datepicker1 .ui-datepicker tr th:first-child span{color: #EA3333;font-size: 14px;font-weight: 600;}
.datepicker1 .ui-datepicker td{padding:0;width: 32px;height: auto;}
.datepicker1 .ui-datepicker td a{text-align: center;font-size: 14px;font-weight: 600;}
.datepicker1 .ui-datepicker tr td:first-child a{color: #EA3333;}
.datepicker1 .ui-datepicker tr td:last-child a{color: #1B4A96;}
.datepicker1 .ui-state-default, 
.datepicker1 .ui-widget-content .ui-state-default, 
.datepicker1 .ui-widget-header .ui-state-default, 
.datepicker1 .ui-button, 
html .datepicker1 .ui-button.ui-state-disabled:hover, 
html .datepicker1 .ui-button.ui-state-disabled:active{border:none;padding:0; background: #fff;color:#666;font-size: 14px;font-weight: 500;}
.datepicker1 .ui-datepicker td a .dot-area{display:block;text-align:center;padding: 0;font-size: 0;height: 6px;margin-top: 1px;}
.datepicker1 .ui-datepicker td a .dot-area i{display: none;margin:0 1px; width: 6px;height: 6px;border-radius: 100%;background-color: #f6f6f6}
.datepicker1 .ui-datepicker td.reqular a .dot-area i.dot1{display: inline-block;background-color: #0C77FA;}
.datepicker1 .ui-datepicker td.fast a .dot-area i.dot2{display: inline-block;background-color: #EA3333;}

.scr_list .scroll-element.scroll-x.scroll-scrollx_visible, 
.scr_list .scroll-element.scroll-y.scroll-scrolly_visible{position:absolute;right:0;top:0;width:4px;height:100%;z-index:1;}
.scr_list .scroll-element, 
.scr_list .scroll-element div{position:absolute;right:0;top:0;width:100%;height:100%;}
.scr_list .scroll-element .scroll-element_track{background:#F7F7F7;border-radius: 8px;}
.scr_list .scroll-element .scroll-bar{background:#666;border-radius: 8px;}

.plf-main .data-table.type-list td{padding: 13px 5px 12px;}

.inner-board{display: flex;gap: 20px;padding-top: 30px;}
.inner-board .sec{width: 60%;}
.inner-board .sec:last-child{width: 40%;}
.inner-board .sec + .sec{margin-top: 0;}
.inner-board .tit-area{display: flex;justify-content: space-between;align-items: center; margin-bottom: 20px}
.inner-board .tit-area .tit-board{display: flex;align-items: flex-end;font-size: 26px;font-weight: 600;color: #1E1E1E;}
.inner-board .tit-area .tit-board .btn-link{font-weight: 400;color: #666;margin-left: 16px;}
.inner-board .tit-area .tit-board .btn-link::before{content: '';display: inline-block;width: 1px;height: 14px;background-color: #E0E0E0;margin-right: 16px;}
.inner-board .tit-area .tit-board i{display: inline-block; font-weight: 500;font-size: 16px;background-color: var(--color3); color: var(--color1);margin-left: 8px;padding:0 8px;height: 24px;line-height: 24px;border-radius: 24px;}
.inner-board .tit-area .btn-more{display: inline-block;width: 20px;height: 20px;background: url(../img/icon/ic_add_black.svg) no-repeat center;}

.inner-board .data-table{border-top:none}
.inner-board .data-table thead{display: none;}
.inner-board .scr_cont{height: 176px;overflow: hidden;}
.inner-board .scr_cont .scr_list{height:100%;}

.inner-board .srl-table-head{display: table;width: 100%;border-top: 1px solid #1E1E1E;}
.inner-board .srl-table-head span{display: table-cell;text-align: center;border-bottom: 1px solid #F0F0F0;background: #F7f7f7;color: #1E1E1E;padding: 12px 0;font-size: 16px;font-weight: 600;}


/* 공지사항 상세 */
.notice-view .view-head{border-top: 1px solid #1E1E1E;}
.notice-view .view-head .notice-tit{display: flex; padding: 10px 20px;background: #F7f7f7;font-size: 16px;font-weight: 500;color: #1E1E1E;line-height: 1.3;}
.notice-view .view-head .notice-tit i{color: #666;font-weight: 400;margin-right: 8px;white-space: nowrap;}
.notice-view .view-head .notice-tit span{color: #1E1E1E;}
.notice-view .view-head .notice-date{display: flex;padding: 12px 20px;border-top: 1px solid #F0F0F0;border-bottom: 1px solid #F0F0F0;}
.notice-view .view-head .notice-date span:first-child{color: #1E1E1E;margin-right: 8px;}
.notice-view .view-head .notice-date span:last-child{margin-left: auto;}
.notice-view .view-con{padding:32px;border-bottom: 1px solid #F0F0F0;}

.comment{padding:10px 20px;border-top: 1px solid #1E1E1E;}
.comment .write-area{display: flex;justify-content: space-around;gap:8px; margin-top: 10px;}
.comment .write-area .ta-group{width: 100%;}
.comment .write-area .ta-group .ta-ip{resize: none;}
.comment .comment-list{margin-top: 10px;}
.comment .comment-list li{padding:10px 0;border-bottom: 1px solid #F0F0F0;line-height: 1.5;}
.comment .comment-list li em{font-size: 14px;color: #929292;}
.comment .comment-list li i{font-size: 14px;color: #BCBCBC;margin-left: 8px;}
.comment .comment-list li span{display: block;color: #1E1E1E;}

/* 시스템화면 */
.plf-error{display: flex;height: 100vh;justify-content: center;align-content: center;flex-wrap: wrap;flex-direction: column;align-items: center;font-size: 16px;color:#666;text-align: center;line-height: 1.4;}
.plf-error strong{font-size: 30px;font-weight: 500;color: #1E1E1E; margin-bottom: 16px;}
.plf-error strong::before{content: '';display: block;margin:0 auto 20px;width: 36px;height: 36px;background: url(../img/icon/ic_error.svg) no-repeat center;}
.plf-error strong.notfile::before{background: url(../img/icon/ic_404.svg) no-repeat center;}
.plf-error .btn{margin-top: 32px;}